.services_container{
    padding:3%;
}

.services_container h2{
    margin-bottom: 5px;
}

.disclaimer_text{
    color:grey;
    font-size:12px;
}

.service_flex_row h3{
    margin:0;
}

.service_flex_row{
    display:flex;
    justify-content: space-between;
}
.service_flex_item{
    position: relative;
    width:50%;
    margin:1rem;
}

.image{
    position: relative;
    /* flex: 0 0 auto; */
    width:100%;
    height:150px;
}

.image img{
    border-radius: 5px;
}

@media (min-width:1024px) {
    .services_container{
        padding:0 20%;
    }

    .image{
        width:100%;
        height:350px;
    }

    .disclaimer_text{
        font-size:14px;
    }
}