.home_container{
  padding:3%;
}

.quote_container{
  position: relative;
  background:no-repeat center url('/assets/tennis/home-bg1.jpg');
  background-size: cover;
  height:500px;
  width:100%;
}

.quote_container h1{
  position: absolute;
  bottom:0;
  text-align:right;
  padding: 0 3%;
  color:white;
  font-weight: 450;
  margin-bottom: 3rem;
}

.image_container{
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
}

.image_container_flex_item{
  margin: 0 10px;
}

.image_container_flex_item h3{
  margin-top:0;
}

.image{
  position: relative;
  flex: 0 0 auto;
  width:250px;
  height:250px;
}

.image img{
  border-radius: 5px;
}

.consulting_container{
  display:flex;
  flex-wrap: wrap;
}

.consulting_container_flex_item{
  width:50%;
  text-align: center;
  margin: 15px 0;
}

.icon{
  height:36px;
  margin-bottom:5px;
}

@media (min-width:1024px) {
  .quote_container{
    background: no-repeat cover url('/assets/tennis/home-bg1.jpg');
    background-position: 75% 25%;
    height:500px;
    width:100%;
  }
  .quote_container h1{
    font-size: 34px;
    width:90%;
    padding: 0;
    font-weight: 550;
  }

  .home_container{
    padding: 0 20%;
  }

  .home_container h2{
    margin-top:5%;
  }
  
  .consulting_container_flex_item{
    width:25%;
    padding-bottom:5%;
  }
}